.u-section-1 .u-sheet-1 {
  min-height: 526px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 73px 74px 0;
}

.u-section-1 .u-text-4 {
  margin: 56px 74px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 610px;
}

.u-section-2 .u-image-1 {
  width: 510px;
  height: 342px;
  margin: 34px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 16px auto 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 228px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 701px;
}

.u-section-3 .u-image-1 {
  width: 510px;
  height: 342px;
  margin: 56px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 228px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 648px;
}

.u-section-4 .u-image-1 {
  width: 567px;
  height: 395px;
  margin: 63px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 59px 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 376px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 237px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 732px;
}

.u-section-5 .u-image-1 {
  width: 580px;
  height: 340px;
  margin: 101px auto 0;
}

.u-section-5 .u-text-1 {
  margin: 59px 0 60px;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 283px;
  margin: 65px auto 0;
}

.u-section-6 .u-text-1 {
  margin: 46px auto 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 169px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-image-1 {
  width: 547px;
  height: 242px;
  margin: 50px auto 0;
}

.u-section-7 .u-text-1 {
  margin: 50px 0 60px;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 150px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 596px;
}

.u-section-8 .u-image-1 {
  width: 548px;
  height: 311px;
  margin: 53px auto 0;
}

.u-section-8 .u-text-1 {
  margin: 52px 0 13px;
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 340px;
    height: 193px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 500px;
}